header{
    margin-bottom: 100px;
}
.link{
    border-bottom: 2px solid transparent;
    transition: 10s;
    color: #ccc;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}
.active{
    border-bottom: 2px solid rgb(39, 33, 33);
    color: rgb(39, 33, 33);
}
.search{
    margin-left: 50px;
}