footer{
    background-color: #000;
    padding: 40px 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.Links{
    font-family: sans-serif;
    color: #ccc;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}
.Links_title{
    font-weight: 400;
    font-size: 20px;
    line-height: 26.6px;
} 
.footer_list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}